@import 'partials.scss';

body {
    padding: 0;
    margin: 0;
    /* background: transparentize(#000000, .2); */
    background: #2e2e3c;
    background: -webkit-linear-gradient(0deg, #2e2e3c 0%, #242934 100%);
    background: linear-gradient(0deg, #2e2e3c 0%, #242934 100%);
    color: $light;
    font-family: $mainFont;

    button {
        appearance: none;
        background: none;
        border: none;
    }

    .main {
        min-height: calc(100vh - 90px);
    }

    .border {
        &-feminine {
            border-color: transparentize($feminine, .1);
        }
        &-masculine {
            border-color: transparentize($masculine, .1);
        }
    }

}