// basics
$light: #f7f7f7;
$mid-light: #ccc;
$dark: #383838;

$primaryBg: #a462ad;
$primaryBtn: #4b79a2;
$primaryHeadings: #836c86;

$masculine: #719bb9;
$feminine: #d85878;

$delete: rgb(131, 79, 197);
$modify: rgb(139, 152, 204);
